@model TodoItem

<form asp-action="AddItem" method="POST">
    <input asp-for="Title" placeholder="Add things to the list...">
    <input asp-for="DueAt" type="datetime-local" value="2019-01-01T08:00">
    <button type="submit" class="btn btn-primary">Add</button>
</form>